{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'styles.css' %}">
    <link rel="shortcut icon" href="{%static 'MoviesJunctionLogoFavicon.png' %}" type="image/x-icon">
    <script src="{%static 'javascript.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <title>Movies Junction</title>
</head>

<body onload='CheckLogin()'>
    <nav>
        <div class="nav">
            <div class="logodiv">
                <a href="/"><img id="logo" src="{%static 'MoviesJunctionLogo3.png' %}" alt="logo"></a>
            </div>
            <a href="/">Home</a>
            <a href="{%url 'popular' %}">Popular</a>
            <a href="{%url 'upcoming' %}">Upcoming</a>
            <a href="{%url 'top_rated' %}">Top Rated</a>
            <a href="{%url 'favorite' %}" id='favorite'>favorite</a>
            <button id="sidebarbtn" onclick="ShowSideBar()" class="btn"> <strong>☰</strong> </button>
            <div class="searchdiv">
                <form action="{%url 'search' %}" method='post'> {% csrf_token %}
                <input name='query' placeholder = "search a movie" type="text">
                <button class='btn'>🔍</button>
            </form>
            </div>
            {% comment %} {% if user != 'none' %}
            <div id='logoutdiv' class="logoutdiv">
                <select onchange="Logout()" name="" id="">
                    <option id='usernamelabel' value="" selected hidden>{{user.username}}</option>
                    <option onclick="Logout()" value="">logout</option>
                </select>
            </div>
            {% else %}
            <button onclick="ShowModal()" id='loginbtn' class='btn'>Login</button>
            {% endif %} {% endcomment %}
            
            {% comment %} auth code for ajax {% endcomment %}
            
            <div id='logoutdivajax' class="logoutdiv">
                
                    <label id='usernamelabelajax' >{{user.username}}</label>
                    <button onclick="Logout()" class='btn'>logout</button>
       
            </div>

            <button id='loginbtnajax' onclick="ShowModal()" class='btn'>Login</button>

            {% comment %} auth code for ajax {% endcomment %}
        </div>
    </nav>

      <!-- Side Bar -->

      <div id="sidebardiv" class="sidebardiv">
        <label id='usernamelabelmobile' style = 'color: black;' >{{user.username}}</label>
        <br>
        <a class="btn" href="/" >Home</a>
        <a class="btn" href="{%url 'popular' %}">Popular</a>
        <a class="btn" href="{%url 'upcoming' %}">Upcoming</a>
        <a class="btn" href="{%url 'top_rated' %}">Top Rated</a>
        <a class="btn" href="{%url 'favorite' %}" id='favoritemobile'>favorite</a>
        <button id='mobilelogoutbtn' onclick="Logout()" class='btn'>logout</button>
        <button id='loginbtnmobile' onclick="ShowModal()" class='btn'>Login</button>
    </div>

    <main>
        {% block detailtetemplatebody %}
        <div id="container" class="container">
            <div id='animation' class="animationdiv">
                <span id="c1" class="circle"></span>
                <span id="c2" class="circle"></span>
                <span id="c3" class="circle"></span>
                <span id="c4" class="circle"></span>
                <span id="c5" class="circle"></span>
                <span id="c6" class="circle"></span>
                <span id="c7" class="circle"></span>
                <span id="c8" class="circle"></span>
            </div>
            {% if movies %}
            {% for movie in movies %}
            
            {% block postercard %}
                
                <div class="postercard">
                    <div class="ratings">
                        <label for="">&#11088; {{movie.vote_average}}</label>
                        
                        {% if movie.id in liked_movies %}
                        <button onclick="LikeMovie('{{movie.id}}','{{user}}')" class='likebtn' id="likebtn{{movie.id}}">&#10084;</button>
                        {% else %}
                        <button onclick="LikeMovie('{{movie.id}}','{{user}}')" class='likebtn' id="likebtn{{movie.id}}">&#9825;</button>
                        {% endif %}
                    </div>
                    <a onclick='ShowAnimation()' class='movietitleheading' href="{%url 'movie_detail' id=movie.id %}">   
                    <img src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt="Poster">
                    <h1>{{movie.title}} {{movie.year}}</h1>
                    <p>{{movie.description}}</p>
                    </a>
                </div>
                {% endblock postercard %}
            
            {% endfor %}
            {% else %}
            <div class="subcontainer">
                <img id="unhappyheart" src="https://cdn1.iconfinder.com/data/icons/hearts-9/509/love-heart_146-512.png" alt="">
                <h1 id='notfoundheading'>Not found!</h1>
            </div>
            {% endif %}
        </div>
        {% endblock detailtetemplatebody %}

         <!-- Signin Modal -->

        <div id='mainmodaldiv' class="mainmodaldiv">
         <div id='modalcontainer' class="modalcontainer">
            
            <div class="modalhead">
                <button onclick="ShowLogin()" class="btn" id="modalloginbtn">Login</button>
                <button onclick="ShowSignup()" class="btn" id="modalsignupbtn">Signup</button>
                <button onclick="CloseModal()" id="closemodal" class="btn">X</button>
            </div>
            <div id="progressbarsignup" class="progressbar">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="modalform">
                <div class="inputboxdiv">
                <label for="">Username</label>
                <input id='usernameinput' type="text" placeholder="Username">
                </div>

                <div id="emailinputdiv" class="inputboxdiv">
                <label for="">Email</label>
                <input id="emailinput"  type="email" placeholder="Email">
                </div>

                <div class="inputboxdiv">
                <label for="">Password</label>
                <input id='passwordinput' type="password" placeholder="Password">
                </div>
                <button type='button' onclick='SubmitForm()' class="btn">Submit</button>
            </div>
         </div>


        </div>
    </main>




</body>
</html>